<!DOCTYPE html>
<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="UTF-8">
	<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon"
		  sizes="180x180"
		  href="~/vendors/images/apple-touch-icon.png" asp-append-version="true" />
	<link rel="icon"
		  type="image/png"
		  sizes="32x32"
		  href="~/vendors/images/favicon-32x32.png" asp-append-version="true" />
	<link rel="icon"
		  type="image/png"
		  sizes="16x16"
		  href="~/vendors/images/favicon-16x16.png" asp-append-version="true" />

	<!-- Mobile Specific Metas -->
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Google Font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" />
	<!-- CSS -->
	<link rel="stylesheet" href="~/vendors/styles/core.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/vendors/styles/icon-font.min.css" asp-append-version="true" />
	<!-- Slick Slider css -->
	<link rel="stylesheet" type="text/css" href="~/src/plugins/slick/slick.css" asp-append-version="true" />
	<!-- Datatable css-->
	<link rel="stylesheet" href="~/src/plugins/datatables/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/src/plugins/datatables/css/responsive.bootstrap4.min.css" asp-append-version="true" />
	<!-- bootstrap-tagsinput css -->
	<link rel="stylesheet" href="~/src/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/src/plugins/sweetalert2/sweetalert2.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/vendors/styles/style.css" asp-append-version="true" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async
			src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"></script>
	<script async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
			crossorigin="anonymous"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-GBZ3SGGX85");
	</script>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != "dataLayer" ? "&l=" + l : "";
			j.async = true;
			j.~src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
	</script>
	<!-- End Google Tag Manager -->
</head>
<body class="header-white sidebar-light">

	<!-- Begin Loader -->
	<!-- <div class="pre-loader">
			<div class="pre-loader-box">
				<div class="loader-logo">
					<img src="vendors/images/deskapp-logo.svg" alt="" />
				</div>
				<div class="loader-progress" id="progress_div">
					<div class="bar" id="bar1"></div>
				</div>
				<div class="percent" id="percent1">0%</div>
				<div class="loading-text">Loading...</div>
			</div>
		</div> -->
	<!-- End Loader -->
	<div class="header">
		<div class="header-left">
			<div class="menu-icon bi bi-list"></div>
			<div class="search-toggle-icon bi bi-search" data-toggle="header_search"></div>
			<div class="header-search">
				<form>
					<div class=" form-group mb-0">
						<i class="dw dw-search2 search-icon"></i>
						<input type="text" class="form-control search-input" placeholder="Search Here">
					</div>
				</form>
			</div>
		</div>
		<div class="header-right">
			
			<div class="user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
						<i class="icon-copy dw dw-notification"></i>
						<span class="badge notification-active"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div class="notification-list mx-h-350 customscroll mCustomScrollbar _mCS_1 mCS_no_scrollbar">
							<div id="mCSB_1" class="mCustomScrollBox mCS-dark-2 mCSB_vertical mCSB_inside" style="max-height: 0px;" tabindex="0">
								<div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
									<ul>
										<li>
											<a href="#">
												<img src="vendors/images/img.jpg" alt="" class="mCS_img_loaded">
												<h3>John Doe</h3>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipisicing
													elit, sed...
												</p>
											</a>
										</li>
										<li>
											<a href="#">
												<img src="vendors/images/photo1.jpg" alt="" class="mCS_img_loaded">
												<h3>Lea R. Frith</h3>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipisicing
													elit, sed...
												</p>
											</a>
										</li>
										<li>
											<a href="#">
												<img src="vendors/images/photo2.jpg" alt="" class="mCS_img_loaded">
												<h3>Erik L. Richards</h3>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipisicing
													elit, sed...
												</p>
											</a>
										</li>
										<li>
											<a href="#">
												<img src="vendors/images/photo3.jpg" alt="" class="mCS_img_loaded">
												<h3>John Doe</h3>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipisicing
													elit, sed...
												</p>
											</a>
										</li>
										<li>
											<a href="#">
												<img src="vendors/images/photo4.jpg" alt="" class="mCS_img_loaded">
												<h3>Renee I. Hansen</h3>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipisicing
													elit, sed...
												</p>
											</a>
										</li>
										<li>
											<a href="#">
												<img src="vendors/images/img.jpg" alt="" class="mCS_img_loaded">
												<h3>Vicki M. Coleman</h3>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipisicing
													elit, sed...
												</p>
											</a>
										</li>
									</ul>
								</div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark-2 mCSB_scrollTools_vertical mCSB_scrollTools_onDrag_expand" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="vendors/images/photo1.jpg" alt="">
						</span>
						<span class="user-name">Ross C. Lopez</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i> Profile</a>
						<a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i> Setting</a>
						<a class="dropdown-item" href="faq.html"><i class="dw dw-help"></i> Help</a>
						<a class="dropdown-item" href="login.html"><i class="dw dw-logout"></i> Log Out</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="index.html">
				<img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
				<img src="vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll mCustomScrollbar _mCS_3">
			<div id="mCSB_3" class="mCustomScrollBox mCS-dark-2 mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
				<div id="mCSB_3_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
					<div class="sidebar-menu icon-style-1 icon-list-style-6">
						<ul id="accordion-menu">
							<li class="dropdown show">
								<a href="javascript:;" class="dropdown-toggle" data-option="on">
									<span class="micon bi bi-house"></span><span class="mtext">Home</span>
								</a>
								<ul class="submenu" style="display: block;">
									<li><a href="index.html" class="active">Dashboard style 1</a></li>
									<li><a href="index2.html">Dashboard style 2</a></li>
									<li><a href="index3.html">Dashboard style 3</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle" data-option="off">
									<span class="micon bi bi-bounding-box"></span><span class="mtext">Quản Lý Sản Phẩm</span>
								</a>
								<ul class="submenu">
									<li><a href="form-basic.html">Danh Sách Nhãn Hàng</a></li>
									<li><a asp-controller="Products" asp-action="Index">Danh Sách Sản Phẩm</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle" data-option="off">
									<span class="micon bi bi-table"></span><span class="mtext">Quản Lý Nhập</span>
								</a>
								<ul class="submenu">
									<li><a href="basic-table.html">Danh Sách Phiếu Nhập</a></li>
								</ul>
							</li>
							<li>
								<a href="calendar.html" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-calendar4-week"></span><span class="mtext">Tin Nhắn</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle" data-option="off">
									<span class="micon bi bi-archive"></span><span class="mtext"> Quản Lý Nhà Cung Cấp </span>
								</a>
								<ul class="submenu">
									<li><a asp-controller = "Suppliers" asp-action="Index">Danh Sách Nhà Cung Cấp</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle" data-option="off">
									<span class="micon bi bi-command"></span><span class="mtext">Quản Lý Đơn Hàng</span>
								</a>
								<ul class="submenu">
									<li><a href="bootstrap-icon.html">Danh Sách Đơn Hàng</a></li>
									<li><a href="font-awesome.html">FontAwesome Icons</a></li>
									<li><a href="foundation.html">Foundation Icons</a></li>
									<li><a href="ionicons.html">Ionicons Icons</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle" data-option="off">
									<span class="micon bi bi-pie-chart"></span><span class="mtext">Slide Show</span>
								</a>
								<ul class="submenu">
									<li><a href="highchart.html">Thêm Silde Show</a></li>
								</ul>
							</li>
							
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle" data-option="off">
									<span class="micon bi bi-hdd-stack"></span><span class="mtext">Multi Level Menu</span>
								</a>
								<ul class="submenu">
									<li><a href="javascript:;">Level 1</a></li>
									<li><a href="javascript:;">Level 1</a></li>
									<li><a href="javascript:;">Level 1</a></li>
									<li class="dropdown">
										<a href="javascript:;" class="dropdown-toggle" data-option="off">
											<span class="micon fa fa-plug"></span><span class="mtext">Level 2</span>
										</a>
										<ul class="submenu child">
											<li><a href="javascript:;">Level 2</a></li>
											<li><a href="javascript:;">Level 2</a></li>
										</ul>
									</li>
									<li><a href="javascript:;">Level 1</a></li>
									<li><a href="javascript:;">Level 1</a></li>
									<li><a href="javascript:;">Level 1</a></li>
								</ul>
							</li>

							<li>
								<div class="dropdown-divider"></div>
							</li>
							<li>
								<div class="sidebar-small-cap">Extra</div>
							</li>
							<li>
								<a href="javascript:;" class="dropdown-toggle" data-option="off">
									<span class="micon bi bi-file-pdf"></span><span class="mtext">Documentation</span>
								</a>
								<ul class="submenu">
									<li><a href="introduction.html">Introduction</a></li>
									<li><a href="getting-started.html">Getting Started</a></li>
									<li><a href="color-settings.html">Color Settings</a></li>
									<li>
										<a href="third-party-plugins.html">Third Party Plugins</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div><div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-dark-2 mCSB_scrollTools_vertical mCSB_scrollTools_onDrag_expand" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 346px; top: 0px; display: block; max-height: 618.667px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>





	<div class="main-container">
		@RenderBody()
	</div>




	<script src="~/vendors/scripts/core.js" asp-append-version="true"></script>
	<script src="~/vendors/scripts/script.min.js" asp-append-version="true"></script>
	<script src="~/vendors/scripts/process.js" asp-append-version="true"></script>
	<script src="~/vendors/scripts/layout-settings.js" asp-append-version="true"></script>
	<!-- Slick Slider js -->
	<script src="~/src/plugins/slick/slick.min.js" asp-append-version="true"></script>
	<script>
		jQuery(document).ready(function () {
			jQuery(".product-slider").slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: true,
				infinite: true,
				speed: 1000,
				fade: true,
				asNavFor: ".product-slider-nav",
			});
			jQuery(".product-slider-nav").slick({
				slidesToShow: 3,
				slidesToScroll: 1,
				asNavFor: ".product-slider",
				dots: false,
				infinite: true,
				arrows: false,
				speed: 1000,
				centerMode: true,
				focusOnSelect: true,
			});
		});
	</script>
	<script src="~/src/plugins/apexcharts/apexcharts.min.js" asp-append-version="true"></script>
	<!-- add sweet alert js & css in footer -->
	<script src="~/src/plugins/sweetalert2/sweetalert2.all.js" asp-append-version="true"></script>
	<script src="~/src/plugins/sweetalert2/sweet-alert.init.js" asp-append-version="true"></script>
	<!--Datatable js-->
	<script src="~/src/plugins/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="~/src/plugins/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
	<script src="~/src/plugins/datatables/js/dataTables.responsive.min.js" asp-append-version="true"></script>
	<script src="~/src/plugins/datatables/js/responsive.bootstrap4.min.js" asp-append-version="true"></script>
	<!-- buttons for Export datatable -->
	<script src="~/src/plugins/datatables/js/dataTables.buttons.min.js" asp-append-version="true"></script>
	<script src="~/src/plugins/datatables/js/buttons.bootstrap4.min.js" asp-append-version="true"></script>
	<script src="~/src/plugins/datatables/js/buttons.print.min.js" asp-append-version="true"></script>
	<script src="~/src/plugins/datatables/js/buttons.html5.min.js" asp-append-version="true"></script>
	<script src="~/src/plugins/datatables/js/buttons.flash.min.js" asp-append-version="true"></script>
	<script src="~/src/plugins/datatables/js/pdfmake.min.js" asp-append-version="true"></script>
	<script src="~/src/plugins/datatables/js/vfs_fonts.js" asp-append-version="true"></script>
	<!-- Datatable Setting js -->
	<script src="~/vendors/scripts/datatable-setting.js" asp-append-version="true"></script>
	<!-- bootstrap-tagsinput js -->
	<script src="~/src/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js" asp-append-version="true"></script>
	
	
	<script src="~/vendors/scripts/advanced-components.js" asp-append-version="true"></script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
