@model Project_ShoeStore_Manager.DTOs.ProductDto
@{
}
<!-- ImagesLoader css -->
<link rel="stylesheet" href="~/src/plugins/jquery-ImagesLoader/jquery.imagesloader.css" />
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
<!-- Bootstrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!-- Font awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js" crossorigin="anonymous"></script>
<!-- ImagesLoader js -->
<script src="~/src/plugins/jquery-ImagesLoader/jquery.imagesloader-1.0.1.js" asp-append-version="true"></script>

<div class="pd-ltr-20 xs-pd-20-10">
	<div class="min-height-200px">
		<div class="page-header">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					@* <div class="title"> *@
					@* 	<h4>Danh Sách Sản Phẩm</h4> *@
					@* </div> *@
					<nav aria-label="breadcrumb" role="navigation">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								Quản Lý Sản Phẩm
							</li>
							<li class="breadcrumb-item" aria-current="page">
								<a asp-controller="Products" asp-action="Index">Danh Sách Sản Phẩm</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								Thêm Sản Phẩm
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>

		<!-- Simple Datatable start -->
		<form id="frm" method="post" enctype="multipart/form-data" class="needs-validation" novalidate="">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>Tên Sản Phẩm: </label>
						<input type="text" class="form-control" asp-for="ProductName">
						<span asp-validation-for="ProductName" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>Tên Nhãn Hàng: </label>
						<select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
						<span asp-validation-for="BrandId" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>Tên Loại: </label>
						<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
						<span asp-validation-for="CategoryId" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="container col-16 pt-5 border border-success mb-15">
					<!--Image container -->
					<div class="row"
						 data-type="imagesloader"
						 data-errorformat="Accepted file formats"
						 data-errorsize="Maximum size accepted"
						 data-errorduplicate="File already loaded"
                     data-errormaxfiles="Maximum number of images you can upload"
					 data-errorminfiles="Minimum number of images to upload"
					 data-modifyimagetext="Modify immage">
						

						<!-- Progress bar -->
						<div class="col-12 order-1 mt-2">
							<div data-type="progress" class="progress" style="height: 25px; display:none;">
								<div data-type="progressBar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%;">Load in progress...</div>
							</div>
						</div>

						<!-- Model -->
						<div data-type="image-model" class="col-4 pl-2 pr-2 pt-2" style="max-width:200px; display:none;">

							<div class="ratio-box text-center" data-type="image-ratio-box">
								<img data-type="noimage" class="btn btn-light ratio-img img-fluid p-2 image border dashed rounded" src="/src/plugins/jquery-ImagesLoader/img/photo-camera-gray.svg" style="cursor:pointer;">
								<div data-type="loading" class="img-loading" style="color:#218838; display:none;">
									<span class="fa fa-2x fa-spin fa-spinner"></span>
								</div>
								<img data-type="preview" class="btn btn-light ratio-img img-fluid p-2 image border dashed rounded" src="" style="display: none; cursor: default;">
								<span class="badge badge-pill badge-success p-2 w-50 main-tag" style="display:none;">Main</span>
							</div>

							<!-- Buttons -->
							<div data-type="image-buttons" class="row justify-content-center mt-2">
								<button data-type="add" class="btn btn-outline-success" type="button"><span class="fa fa-camera mr-2"></span>Add</button>
								<button data-type="btn-modify" type="button" class="btn btn-outline-success m-0" data-toggle="popover" data-placement="right" style="display:none;">
									<span class="fa fa-pencil-alt mr-2"></span>Modify
								</button>
							</div>
						</div>

						<!-- Popover operations -->
						<div data-type="popover-model" style="display:none">
							<div data-type="popover" class="ml-3 mr-3" style="min-width:150px;">
								<div class="row">
									<div class="col p-0">
										<button data-operation="main" class="btn btn-block btn-success btn-sm rounded-pill" type="button"><span class="fa fa-angle-double-up mr-2"></span>Main</button>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-6 p-0 pr-1">
										<button data-operation="left" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button"><span class="fa fa-angle-left mr-2"></span>Left</button>
									</div>
									<div class="col-6 p-0 pl-1">
										<button data-operation="right" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button">Right<span class="fa fa-angle-right ml-2"></span></button>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-6 p-0 pr-1">
										<button data-operation="rotateanticlockwise" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button"><span class="fas fa-undo-alt mr-2"></span>Rotate</button>
									</div>
									<div class="col-6 p-0 pl-1">
										<button data-operation="rotateclockwise" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button">Rotate<span class="fas fa-redo-alt ml-2"></span></button>
									</div>
								</div>
								<div class="row mt-2">
									<button data-operation="remove" class="btn btn-outline-danger btn-sm btn-block" type="button"><span class="fa fa-times mr-2"></span>Remove</button>
								</div>
							</div>
						</div>

					</div>

					<div class="form-group row">
						<div class="input-group">
							<!--Hidden file input for images-->
							<input id="files" type="file" name="ProductImages" asp-for="ProductImages" data-button="" multiple="" accept="image/jpeg, image/png, image/gif," style="display:none;">
						</div>
					</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label>Size: </label>
						<input type="text" value="" data-role="tagsinput" placeholder="Thêm Size" name="ProductSizes" />
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label>Màu Sắc: </label>
						<input type="text" value="" data-role="tagsinput" placeholder="Thêm Màu Sắc" name="ProductColors" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label>Giá Nhập (VND): </label>
						<input class="form-control" type="number" asp-for="PurchasePrice" />
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label>Lợi Nhuận (%): </label>
						<input class="form-control" type="number" asp-for="ProfitMargin" />
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<h4 class="h4 ">Mô Tả</h4>
						<textarea class="form-control border-radius-0" placeholder="Nhập mô tả ..." asp-for="ProductDescription"></textarea>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<button id="submit" type="submit" class="btn btn-primary">Xác Nhận</button>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<a class="btn btnbtn-outline-primary" asp-controller="Products" asp-action="Index">Hủy</a>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>
<!--
<h2>Danh sách file upload</h2>
<ul>
	@if (ViewBag.FileDetails != null)
	{
		foreach (var detail in ViewBag.FileDetails)
		{
			<li>@detail</li>
		}
	}
	else
	{
		<li>Không có file nào được upload.</li>
	}
</ul>
-->


